html {
    background-color: #0b0c10;
}


/*Title*/

#mainTitle {
    font-size: 75px;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-display: swap;
    text-align: center;
    color: whitesmoke;
    text-shadow: 5px 5px #1F2833;
    padding: 0;
}

h2.paraformat {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-display: swap;
    text-align: center;
    color: whitesmoke;
    padding: 0;
}


/*Navigation*/

.navigation {
    position: relative;
    font-size: 40px;
    font-weight: bold;
}

nav a {
    color: white;
    display: block;
    padding: 15px 60px;
    text-decoration: none;
    font-family: 'Staatliches', cursive;
}

nav a:hover {
    text-decoration: none;
    background-color: #2E4558;
    padding: 10px 60px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #45A29E, 0 0 10px #66FCF1, 0 0 20px #edd;
}

nav ul,
nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav>ul {
    background-color: #1F2833;
    text-align: center;
}

nav>ul>li {
    display: inline-block;
}

/*Loading Animation*/

.loading {
    animation: loadingAnimation 2s
}

@keyframes loadingAnimation {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


/*X-Wing Invaders Game Styles*/

div.grid {
    width: 405px;
    height: 405px;
    border: solid white 4px;
    background-image: url(https://i.pinimg.com/564x/4a/a9/9b/4aa99b6ad2d2cbc7cb04a41571885a8f.jpg);
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.grid div {
    width: 27px;
    height: 27px;
}

.invader {
    background-image: url("Images/tieFighter.png");
}

.shooter {
    background-image: url("Images/XWing.png");
}

.laser {
    background-image: url("Images/proton.png");
}

.boom {
    background-color: orange;
}

h3 {
    font-size: 40px;
    font-family: 'Staatliches', cursive;
    font-weight: bold;
    font-display: swap;
    color: whitesmoke;
    text-align: center;
    text-shadow: 5px 5px #1F2833;
    padding: 0;
}